.grid {
  display: grid;
}

.grid-center {
  place-items: center;
}

.flex {
  display: flex;
}

.center {
  margin-inline: auto;
}

.container {
  width: min(100% - 2rem);
  margin-inline: auto;
}

.pointer {
  cursor: pointer;
}
